body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.active {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.portfolio-item {
    margin-bottom: 25px !important;
}
.img-poster{
    height: 200px !important;
}
footer {
    margin: 50px 0;
}
.col-md-12percent,
.col-md-22percent {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-22percent {
        width: 22% !important;
        float: left !important;
    }
    .col-md-12percent {
        width: 12% !important;
        float: left !important;
    }
}

/*detail page*/
ul.movie-detail li{
    list-style: none;
    border-bottom: 1px solid #009688;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    font-size: 14px;
    color: #272a34;
    font-weight: bold;
}

ul.movie-detail li .fa{
    padding-right: 8px;
}

.detail-container .left-detail{
    width: 42%;
    float: left;
}

.detail-container .left-detail img{
    width: 100%;
    height: auto;
}

.detail-container .right-detail{
    width: 58%;
    float: left;
}

.movie-trailer {
    font-size: 25px;
    margin-bottom: 30px;
}

.movie-trailer .text-trailer {
    font-size: 25px;
    color: #009688;
    padding: 15px 0px;
}

@media (max-width: 540px) {
    .detail-container .left-detail{
        width: 100%;
    }

    .detail-container .right-detail{
        width: 100%;
    }
}

.suggest-list{
    border-top: 5px solid #009688;
    padding-top: 15px 0;
}

.suggest-list ul{
    padding: 0px;
}

.suggest-list ul li {
    display: inline-block;
    width: 45%;
    float: left;
    margin: 2.5%;
}

.suggest-list ul li p {
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.4em;
    font-size: 0.9em;
    color: #494949;
}
/*end*/