body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.active {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.portfolio-item {
    margin-bottom: 25px !important;
}
.img-poster{
    height: 200px !important;
}
footer {
    margin: 50px 0;
}
.col-md-12percent,
.col-md-22percent {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-22percent {
        width: 22% !important;
        float: left !important;
    }
    .col-md-12percent {
        width: 12% !important;
        float: left !important;
    }
}